/* reset start */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: none;
}

button {
  border: 0;
  padding: 0;
  background: none;
	cursor: pointer;
}

ol li, ul li {
  text-indent: 0;
  list-style-type: none;
}

i { font-style: normal; }
input {display: none; }
:focus { outline: none; }
a:link, a:visited { text-decoration: none; }

input, textarea, button, select, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* reset end */

body {
	font-family: 'Noto Serif KR', serif;
	font-weight: 300;
	font-size: 1rem;
	overflow-y: scroll;

}

.scroll-disabled {
	overflow: hidden;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.scroll-disabled::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera*/
}


.invitation {
	position: relative;
	width: 100%;
	max-width: 600px;
	min-width: 320px;
	margin: 0 auto;
	padding: 11.4rem 3rem 0 3rem;
	box-sizing: border-box;
	background: url('./img/background.png') no-repeat top;
	background-size: 100% 13.5%;
}

h1 {
	font-weight: normal;
	font-size: 1rem;
	text-align: center;
	border-bottom: 0.1rem solid #ed6d88;
	padding-bottom: 0.85rem;
	font-weight: 600;
}

h2 {
	font-weight: normal;
	font-size: 1rem;
	border-bottom: 0.1rem solid #ed6d88;
	padding-bottom: 0.75rem;
	margin-bottom: 1.8rem;
}

.sample {
	position: absolute;
	top: 0;
	left: 0;
	opacity: .5;
	width: 100%;
	display: none;
}

.info-top {
	display: flex;
	justify-content: space-between;
	font-size: 1.04rem;
	margin-top: 2rem;
	margin-bottom: 0.8rem;
}

.info-bottom {
	margin-top: 0.45rem;
	margin-bottom: 6rem;
	text-align: center;
	font-size: 0.946rem;
	white-space: nowrap;
}

.d-day {
	color: #e84165;
}

img.home {
	border: 0.1rem solid #f8cd22;
	width: 100%;
	box-sizing: border-box;
}

.text {
	text-align: center;
	margin-top: 2rem;
	line-height: 1.67rem;
}

.text > div + div {
	margin-top: 1.75rem;
}

.couple {
	overflow: hidden;
	margin-top: 6rem;
	margin-bottom: 9.45rem;
}

.couple > div {
	width: 10.7rem;
}

.couple span {
	color: #e83e62;
	padding-left: 0.05rem;
	padding-right: 0.3rem;
}

.bride {
	float: left;
}

.groom {
	float: right;
}

.parent {
	margin-bottom: 0.2rem;
}

.photo-frame {
	width: 100%;
	margin-top: 2.2rem;
	margin-bottom: 10.2rem;
	display: flex;
	justify-content: space-between;
}

.thumbnail {
	border: 0.1rem solid #fed42a;
	box-sizing: border-box;
	width: 7.55rem;
}

.img1 {
	background: url('./img/photo-1.jpg') center;
	height: 5.15rem;
	background-size: 115% 112%;
}

.img2 {
	background: url('./img/photo-2.jpg') center 45%;
	margin-top: 0.7rem;
	height: 7.8rem;
	background-size: 100% 145%;
}

.img3 {
	background: url('./img/photo-3.jpg') center 70%;
	margin-top: 0.65rem;
	height: 8.5rem;
	background-size: 105% 140%;
}

.img4 {
	background: url('./img/photo-4.jpg') center 13%;
	height: 9.2rem;
	background-size: 110% 140%;
}

.img5 {
	background: url('./img/photo-5.jpg') center 45%;
	margin-top: 0.85rem;
	height: 7.05rem;
	background-size: 104% 170%;
}

.img6 {
	background: url('./img/photo-6.jpg') center;
	margin-top: 0.85rem;
	height: 4.85rem;
	background-size: 110% 125%;
}

.img7 {
	background: url('./img/photo-7.jpg') 60% center;
	height: 7.05rem;
	background-size: 141% 101%;
}

.img8 {
	background: url('./img/photo-8.jpg') center 60%;
	margin-top: 0.65rem;
	height: 5.95rem;
	background-size: 131% 110%;
}

.img9 {
	background: url('./img/photo-9.jpg') center 70%;
	margin-top: 0.65rem;
	height: 8.5rem;
	background-size: 101% 132%;
}

.photo-detail {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #000000;
}

.text-wrapper {
	margin-bottom: 10.2em;
}

.text-wrapper p + p {
	margin-top: 0.2rem;
}

.text-wrapper > div {
	overflow: hidden;
	margin-top: 1.95rem;
}

.text-wrapper .title {
	float: left;
	color: #e83e62;
	padding-left: 0.1rem;
}

.text-wrapper .content {
	float: right;
	width: 20.2em;
}

.step {
	color: #e83e62;
	font-size: 0.8rem;
	margin-top: 0.38rem;
}

.map {
	float: right;
	width: 20.25rem;
	height: 13.85rem;
	box-sizing: border-box;
	border: 0.1rem solid #17ade7;
	margin-top: 0.25em;
}

.hide {
	display: none;
}